<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos - Hamburgueria</title>
</head>
<body>

    <header>
        <h1>Faça seu Pedido</h1>
        <p>Escolha seu lanche favorito</p>
    </header>

    <main>

        <section>

            <h2>Pedido</h2>

            <form>

                <label>Nome:</label>
                <input type="text" placeholder="Digite seu nome">

                <br><br>

                <label>Escolha o lanche:</label>

                <select>
                    <option>X-Burguer</option>
        
                </select>

                <br><br>

                <label>Quantidade:</label>
                <input type="number">


                <button type="submit">Enviar Pedido</button>


</body>
</html>