<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
</head>
<body>

    <h1>Cadastro</h1>

    <form action="/registrar" method="POST">

        <label>Usuário:</label><br>
        <input type="text" name="usuario"><br><br>

        <label>E-mail:</label><br>
        <input type="email" name="email"><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha"><br><br>

        <label>Confirmar Senha:</label><br>
        <input type="password" name="confirmar"><br><br>

        <button type="submit">Registrar</button>

    </form>

</body>
</html>